body {
    margin: 0px;
    font-family: 'Open Sans';
    max-width: 200%;
    margin: auto;
    display: flex;
    flex-direction: column;
}

html {
    font-family: 'Roboto', sans-serif;
    background-color: #f3f3f3;
    max-width: 200%;
    margin: auto;
    display: flex;
    flex-direction: column;
}

ul {
    list-style-type: none;
    padding: 0px;
}

a {
    text-decoration: none;
    padding: none;
    margin: none;
}

.section-wrapper {
    max-width: 1110px;
    margin: auto;
    padding-left: 56px;
    padding-right: 56px;
}

.top-section1 {
    background-color: #f3f3f3;
    padding-left: 56px;
    padding-right: 56px;
    display: flex;
    flex-direction: column;
    max-width: 100%;
    align-items: center;
}

.top-section2 {
    display: flex;
    flex-direction: column;
    background-color: #017ea0;
    align-items: center;
    padding-top: 56px;
    padding-bottom: 56px;
    margin-bottom: 56px;
    max-width: 100%;
    margin-left: auto;
    margin-right: auto;
    padding-left: 56px;
    padding-right: 56px;
}

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 90%;
}

mark.green { 
    color: #B0D361;
    background: none;
}

mark.blue { 
    color: #12ABD4;
    background: none;
}

mark.black { 
    color: #525252;
    background: none;
}


#header-logo {
    font-size: 26px;
    font-weight: 900;
}

.right-links {
    display: flex;
    gap: 16px;
}

.right-links a {
    font-size: 16px;
    color: #E5E7EB;
    text-align: center;
}

.placeholder {
    max-width: 47%;
}

.top-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 56px;
    max-width: 90%;
}

.heading {
    font-size: 48px;
    font-weight: 800;
    color: #F9FAF8;
}

.hero-content {
    font-size: 16px;
    color: #E5E7EB;
}

button {
    color: #F9FAF8;
    font-weight: 900;
    background-color: #3882F6;
    border-style: none;
    padding-top: 12px;
    padding-bottom: 12px;
    padding-left: 24px;
    padding-right: 24px;
    border-radius: 6px;
    margin-top: 16px;
}

.icon {
    max-width: 30%;
    max-height: 90%;
    display: flex;
    flex-direction: column;
    text-align: center;
    gap: 24px;
    font-size: 12px;
    color: #6a6a6b;
}

.logo {
    width: 80px;
    display: flex;
    flex-direction: column;
    text-align: center;
}

.info {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.grid {
    display: flex;
    justify-content: space-around;
    gap: 32px;
    margin-bottom: 56px;
    margin-top: 0px;
}

.info-header1 {
    font-size: 24px;
    font-weight: 900;
    color: #525252;
    margin-top: 0px;
    margin-bottom: 24px;
    text-align: left;
    border-bottom: 2px solid #808080;
    padding-bottom: 24px;
}

.info-header2 {
    font-size: 24px;
    font-weight: 900;
    color: #525252;
    margin-top: 0px;
    margin-bottom: 24px;
    text-align: right;
    border-bottom: 2px solid #808080;
    padding-bottom: 24px;
}

li.Text2 {
    text-align: right;
}

li {
    color: #525252
}

img {
    border-radius: 6px;
    height: 100%;
}

.quote-container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 135px;
    padding-right: 135px;
    padding-top: 80px;
    padding-bottom: 80px;
    background-color: #E5E7EB;
}

.quote {
    font-size: 36px;
    font-weight: 300;
    font-style: italic;
    color: #1F2937;
    margin-bottom: 0;
    margin-top: 0;
}

.caption {
    font-weight: 900;
    margin-left: auto;
    margin-top: 0px;
    justify-self: end;
    text-align: end;
}

.signup-container {
    display: flex;
    flex-direction: column;
    margin-left: 0;
    margin-right: 0;
}

.sign-header {
    color: #F9FAF8;
    font-weight: 900;
    margin: 0px;
}

.sign-content {
    color: #F9FAF8;
    font-weight: 300;
    font-size: 10px;
    margin: 0px;
}

button.bottom-button {
    border-color: #F9FAF8;
    border-style: solid;
    border-width: 1px;
    margin-top: 0px;
}

.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #017ea0;
    color: #F9FAF8;
    font-weight: bold;
    font-size: 10px;
    padding-top: 24px;
    padding-bottom: 24px;
    gap: 8px;
}

.footer-icon {
    height: 28px;
}

.quote-container .section-wrapper {
    max-width: 800px;
    min-width: 800px;
}

.signup-container .section-wrapper {
    max-width: 600px;
    min-width: 600px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 0;
    padding-right: 0;
    background-color: #3882F6;
    margin-top: 40px;
    margin-bottom: 40px;
    padding-top: 36px;
    padding-bottom: 36px;
    border-radius: 6px;
    padding-left: 48px;
    padding-right: 48px;
}